<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 ">Create User</div>      
                <form action="/post-crud" method="POST">  
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" placeholder="Email" name="email">
                      </div>
                      <div class="form-group col-6">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password">
                      </div>
                      <div class="form-group col-6">
                        <label for="inputPassword4">First name</label>
                        <input type="text" class="form-control" placeholder="First name" name="firstName">
                      </div>
                      <div class="form-group col-6">
                        <label for="inputPassword4">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name" name="lastName">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" placeholder="1234 Main St" name="address">
                    </div>
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="inputCity">Phone number</label>
                        <input type="text" class="form-control" name="phonenumber">
                      </div>
                      <div class="form-group col-3">
                        <label for="inputState">Sex</label>
                        <select class="form-control" name="gender">
                          <option value="1">Nam</option>
                          <option value="0">Nữ</option>
                        </select>
                      </div>
                      <div class="form-group col-3">
                        <label for="inputZip">Role</label>
                        <select class="form-control" name="role">
                          <option value="1">Admin</option>
                          <option value="2">Doctor</option>
                          <option value="3">Patient</option>
                        </select>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                  </form>
        </div>
    </div>
</body>

</html>