<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<style>
    table,
    th,td{
        
        border: 1px solid black;
        border-collapse: collapse;
    }
    table{
        width: 100%;
    }
    
button.btn-edit {
    outline: none;
    border: none;
    background: red;
    width: 120px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}
button.btn-delete {
    width: 120px;
    height: 30px;
    outline: none;
    border: none;
    background: gold;
    border-radius: 3px;
    cursor: pointer;
}
</style>
<body>
    <div>
        <table>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Address</th>
            </tr>
            <% for(let i=0; i < data.length; i++) { %>
                <tr>
                  <td><%= data[i].email %></td>
                  <td><%= data[i].firstName %></td>
                  <td><%= data[i].lastName %></td>
                  <td><%= data[i].address %></td>
                  <td><%= data[i].phonenumber %></td>
                  <td><a href="/edit-crud?id=<%= data[i].id %>" class="btn-edit" type ="button">Edit</a>
                      <a href="/delete-crud?id=<%= data[i].id %>" class="btn-delete" type ="button">Delete</a>
                </td>
                </tr>
             <% } %>
             
          </table>
    </div>
</body>

</html>