<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit CRUD</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 ">Edit User</div>      
                <form action="/put-crud" method="POST">  
                    <div class="form-row">
                      <div class="form-group col-6">
                        <label for="inputPassword4">First name</label>
                        <input type="text" class="form-control" placeholder="First name" name="firstName"
                        value="<%= user.firstName %>"
                        >
                      </div>
                      <div class="form-group col-6">
                        <label for="inputPassword4">Last name</label>
                        <input type="text" class="form-control" placeholder="Last name" name="lastName"
                        value="<%= user.lastName %>">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <input type="text" class="form-control" placeholder="1234 Main St" name="address"
                      value="<%= user.phonenumber %>"
                      >
                    </div>
                    <input name="id" value="<%= user.id %>" type="text" hidden/>
                   
                    <button type="submit" class="btn btn-primary">Update</button>
                  </form>
        </div>
    </div>
</body>

</html>